# Gradle

.gradle/

# Build Output

build/
out/

# IDEA

.idea/
*.iml

# VSCode

.vscode/

# Eclipse

.project
.classpath
.settings/

# Logs

logs/
*.log

# Runtime

run/

# Fabric

remappedSrc/

# Java

*.class

# OS

Thumbs.db
.DS_Store

# Generated

*.cache
